.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 80px;
  padding: 10px 10px;
}

.nav-items > ul {
  display: flex;
  padding: 0px 20px;
  font-size: 20px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  padding: 10px;
  width: 200px;
  background-color: #ccc7c7;
}

.res-card:hover {
  box-shadow: 1px 2px 5px 4px rgba(20, 20, 20, 0.4);
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.25s ease 0s;
}

.search {
  padding: 10px;
}
.res-card-img {
  width: 100%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
